.sidebar {
  width: 200px;
  background-color: #ececec;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}

.sidebar h2 {
  margin-top: 0;
}

.user-info {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.sidebar p {
  margin: 0;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li po-button {
  width: 100%;
}

.header {
  background-color: #6f42c1;
  color: white;
  height: 48px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header .logout-button {
  margin: 0;
}

.main {
  margin-left: 200px;
  padding-top: 50px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  background-color: #f9f9f9;
  flex: 1;
}

.dashboard {
  font-family: 'Poppins', sans-serif;
}

.sidebar h2,
.sidebar p,
.sidebar ul li,
.sidebar .po-button,
.content {
  font-family: 'Poppins', sans-serif;
}
