<div class="dashboard">
  <po-loading-overlay
    *ngIf="isLoading"
    [p-screen-lock]="true"
    p-text="Saindo..."
  ></po-loading-overlay>
  <div class="sidebar">
    <h2>Bem-vindo!</h2>
    <div class="user-info">
      <po-avatar [p-src]="profileImage" p-size="sm"></po-avatar>
      <p>{{ userName }}</p>
    </div>
    <ul>
      <li>
        <po-button
        p-label="Overview"
        p-kind="tertiary"
        p-icon="ph-fill ph-chart-bar-horizontal"
        (p-click)="navigateTo('overview')"
      ></po-button>
      </li>
      <li>
        <po-button
        p-label="Cadastrar"
        p-kind="tertiary"
        p-icon="ph-fill ph-plus-circle"
        (p-click)="navigateTo('cadastrar')"
      ></po-button>
      </li>
      <li>
        <po-button
        p-label="Animais"
        p-kind="tertiary"
        p-icon="ph-fill ph-paw-print"
        (p-click)="navigateTo('animais')"
      ></po-button>
      </li>
      <li>
        <po-button
        p-label="Lotes"
        p-kind="tertiary"
        p-icon="ph-fill ph-shipping-container"
        (p-click)="navigateTo('lotes')"
      ></po-button>
      </li>
      <li>
        <po-button
        p-label="Vacinação"
        p-kind="tertiary"
        p-icon="ph-fill ph-list-heart"
        (p-click)="navigateTo('vacinacao')"
      ></po-button>
      
      </li>
      <li>
        <po-button
        p-label="Mortes"
        p-kind="tertiary"
        p-icon="ph-fill ph-cross"
      
      ></po-button>
      </li>
    </ul>
    <po-button
      p-label="Logout"
      p-kind="secondary"
      p-danger="true"
      (p-click)="logout()"
    ></po-button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
