<div *ngIf="isLoading" style="position: relative;">
  <po-loading-overlay [p-screen-lock]="true" p-text="Carregando..."></po-loading-overlay>
</div>

<div *ngIf="!isLoading && batches.length === 0" class="no-data-container">
  <img src="assets/no-data.png" alt="No Data" class="no-data-image">
  <p class="no-data-text">Nenhum lote cadastrado.</p>
</div>

<div *ngIf="batches.length && !isLoading" style="margin-top: 20px;">
  <h3>Lotes Cadastrados</h3>
  <po-list-view 
  p-property-title="nomeLote" 
  [p-items]="batches"
  [p-actions]="actions">
  
  <ng-template p-list-view-content-template let-item>
    <div class="po-row">
      <po-info class="po-md-12" p-label="Categoria" [p-value]="item.categoria"></po-info>
      <po-info class="po-md-12" p-label="Animais" [p-value]="item.animais.length"></po-info>
      <po-info 
  class="po-md-12" 
  p-label="Data de Cadastro" 
  [p-value]="formatDate(item.dataCadastro)">
</po-info>

    </div>
  </ng-template>
</po-list-view>
</div>

<!-- Modal de Animais -->
<po-modal #animalModal p-title="Animais do Lote">
  <po-table 
    [p-columns]="columns" 
    [p-items]="selectedBatchAnimals"
    [p-height]="300">
  </po-table>
  <po-modal-footer>
    <po-button p-label="Fechar" p-kind="primary" (p-click)="animalModal.close()"></po-button>
  </po-modal-footer>
</po-modal>

<!-- Modal de Confirmação -->
<po-modal #poModal p-title="Confirmação de Exclusão">
  <p>Tem certeza de que deseja excluir este lote?</p>
  <po-modal-footer>
    <po-button p-label="Cancelar" p-kind="default" (p-click)="poModal.close()"></po-button>
    <po-button p-label="Excluir" p-kind="danger" (p-click)="deleteBatch()"></po-button>
  </po-modal-footer>
</po-modal>
