body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0; /* Ajusta a cor de fundo da página */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  display: flex;
  width: 800px;
  height: 450px;
  background-color: #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao contêiner para dar aparência flutuante */
  position: relative; /* Necessário para o posicionamento flutuante */
  z-index: 1; /* Certifique-se de que o contêiner esteja acima de outros elementos */
}

.login-left {
  flex: 1;
  padding: 40px;
}

.login-left h1 {
  margin: 0;
  font-size: 24px;
}

.login-left p {
  margin: 5px 0 20px;
  color: #888;
}

.login-left form div {
  margin-bottom: 15px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #888;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.login-right {
  flex: 1;
  background-color: #e0e0e0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden; /* Certifique-se de que a imagem não saia dos limites do contêiner */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir todo o contêiner */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9; /* Ajusta a opacidade da imagem */
}
