<div class="tabs">
  <po-button 
    p-label="Todos os Animais" 
    p-kind="primary" 
    (p-click)="selectTab('animals')">
  </po-button>
  
  <po-button 
    p-label="Animais Vacinados" 
    p-kind="primary" 
    (p-click)="selectTab('vaccinated')">
  </po-button>
</div>

<!-- Tabela de Animais -->
<div *ngIf="activeTab === 'animals'" style="margin-top: 20px">
  <h2>CUESTA SHEEP</h2>
  <po-table
    [p-columns]="columns"
    [p-height]="550"
    [p-draggable]="true"
    [p-items]="animals"
    [p-actions]="actions"
    p-hide-table-search="false"
    (p-show-more)="loadMoreAnimals()">
  </po-table>
</div>

<!-- Tabela de Vacinações -->
<div *ngIf="activeTab === 'vaccinated'" style="margin-top: 20px">
  <h2>Animais Vacinados</h2>
  <po-table
    [p-columns]="vacColumns"
    [p-items]="vaccinations"
    [p-hide-table-search]="false">
  </po-table>
</div>

<po-modal #poModal p-title="Confirmação de morte 💀">
  <p>Tem certeza que deseja informar a morte do animal ? </p>
  <po-modal-footer>
    <po-button
      p-label="Cancelar"
      p-kind="default"
      (p-click)="poModal.close()">
    </po-button>
    <po-button
      p-label="Informar morte"
      p-kind="danger"
      (p-click)="animalDeath()">
    </po-button>
  </po-modal-footer>
</po-modal>
