.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
    margin-top: 20px;
  }

  .button-container > po-button + po-button {
    margin-top: 20px;
  }
  