h3 {
  text-align: center;
  margin-bottom: 20px; /* Adicione ou aumente esta margem conforme necessário */
  font-size: 24px;
  color: #333;
}

.quantity-container {
  margin-top: 20px; 
  padding-left: 8.5px;
  padding-right: 8.5px; /* Ajuste este valor conforme necessário */
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding-left: 8.5px;
}
